<!DOCTYPE html>	
<html>
  <head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <title>Nojs轻量级cms中文网</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/js/form-valid.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#username").blur(function(){
		var username=$(this).val();
		if(username.length<=6){
		$("#nametip").html("<font color=red >&#10006用户名应为数字字母组合且不少于6个字符！</font>");
		$(this).focus();
		}else{
		$("#nametip").html("<font color=green >&#10003</font>");
		}
		});
	$("#password").blur(function(){
		var pwd=$(this).val();
		if(pwd.length<=5){
		$("#pwdtip").html("<font color=red >&#10006密码建议为数字大写字母和小写字母组合且不少于5个字符！</font>");
		$(this).focus();
		}else{
		$("#pwdtip").html("<font color=green >&#10003</font>");
		}
		});
	$("#password2").blur(function(){
	    var pwd=$("#password").val();
	    var pwd2=$(this).val();
	    if(pwd!=pwd2){
	    $("#pwd2tip").html("<font color=red >&#10006两次密码不一致，请重新输入！</font>");
		$(this).select();
		}else{
		$("#pwd2tip").html("<font color=green >&#10003</font>");
		}
	});
});
</script>
<script src="https://cdn.bootcss.com/hideshowpassword/2.1.1/hideShowPassword.min.js"></script>
<script>

// Example 1
$('#password').hideShowPassword({
  // Creates a wrapper and toggle element with minimal styles.
  innerToggle: true,
  // Makes the toggle functional in touch browsers without
  // the element losing focus.
  touchSupport: Modernizr.touch
});
<!--password 可见-->
</script>
 </head>
  <body>
  <!--
 这个导航我其实不喜欢，但是没办法，项目组长的媳妇喜欢|fuck
 -->
 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">NodeJs中文自学教程网</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">基本语法</a></li>
            <li><a href="#">安装使用</a></li>
             <li><a href="#">发展历程</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    NodeJs好基友
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">npm模块安装</a></li>
                    <li><a href="#">Express框架语言</a></li>
                    <li><a href="#">JADE模板语言</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Monogodb数据库</a></li>
                    <li class="divider"></li>
                    <li><a href="#">其他的中间件</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
<div class="row" >
<div class="col-xs-6 col-md-offset-3">
<div class="panel panel-success">
<div class="panel-heading">
 <h3 class="panel-title">用户注册</h3>
</div>
 <div class="panel-body">
<form role="form" id="regForm" method="get" action="/reg">
<fieldset>
  <div class="form-group">
    <label for="name">用户名称</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="请输入注册用户名" required>
     <label for="name" id="nametip">*</label> 
  </div>
   <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="请输入用户密码" required>
    <label for="password" id="pwdtip">*</label> 
  </div>
  <div class="form-group">
    <label for="password2">确认密码</label>
    <input type="password" class="form-control" name="password2" id="password2" placeholder="请输入用户密码" required>
    <label for="password2" id="pwd2tip">*</label>
  </div>
    <button id="sub" type="submit" class="submit btn btn-info">注册用户</button>
    <button type="reset" class="btn btn-info">清除信息</button>
 </fieldset>   
</form> 
<body>
</div>
</div>
<!--居中对其-->
</div>
<!--Row的边界-->
</div>
<!--容器的边界--> 
</div>
<hr>
<footer>
 <p style="text-align:center;">版权所有，翻录必究&copy; 坤坤大神好基友学习网 2017</p>
 </footer>
  </body>
</html>
