<!DOCTYPE html>	
<html>
  <head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <title>Nojs轻量级cms中文网</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/js/form-valid.js"></script>
<script type="text/javascript">
$.validator.setDefaults({
		submitHandler: function() {
			alert("submitted!");
		}
	});
$(function(){
	//表单验证开始；
	$('#regForm').validate({
		debug:true,//开启调试模式
		rules:{
			name:{
				required:true,
				rangelength:[6,12]
			}
	        password:{
	        	required:true,
				rangelength:[6,12]
	        }
	        password2:{
	        	required:true,
				equalTo:'#password2'
	        }
		},
		messages:{
		name:{
		required:"请输入用户名",
		}
		}
	});
});

</script>
  </head>
  <body>
  <!--
 这个导航我其实不喜欢，但是没办法，项目组长的媳妇喜欢|fuck
 -->
 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">NodeJs中文自学教程网</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">基本语法</a></li>
            <li><a href="#">安装使用</a></li>
             <li><a href="#">发展历程</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    NodeJs好基友
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">npm模块安装</a></li>
                    <li><a href="#">Express框架语言</a></li>
                    <li><a href="#">JADE模板语言</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Monogodb数据库</a></li>
                    <li class="divider"></li>
                    <li><a href="#">其他的中间件</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
<div class="row" >
<div class="col-xs-6 col-md-offset-3">
<div class="panel panel-success">
<div class="panel-heading">
 <h3 class="panel-title">用户注册</h3>
</div>
 <div class="panel-body">
<form role="form" id="regForm" method="post" action="reg">
  <div class="form-group">
    <label for="name">用户名称</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="请输入注册用户名">
  </div>
   <div class="form-group">
    <label for="name">密码</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="请输入用户密码">
  </div>
  <div class="form-group">
    <label for="name">确认密码</label>
    <input type="password" class="form-control" name="password2" id="password2" placeholder="请输入用户密码">
  </div>
  <button type="submit" class="btn btn-info">注册用户</button>
    <button type="reset" class="btn btn-info">清除信息</button>
</form> 
<body>
<h1 id="banner"><a href="https://jqueryvalidation.org/">jQuery Validation Plugin</a> Demo</h1>
<div id="main">
<p>Default submitHandler is set to display an alert into of submitting the form</p>
<form class="cmxform" id="commentForm" method="get" action="">
<fieldset>
<legend>Please provide your name, email address (won't be published) and a comment</legend>
<p>
<label for="cname">Name (required, at least 2 characters)</label>
<input id="cname" name="name" minlength="2" type="text" required>
</p>
<p>
<label for="cemail">E-Mail (required)</label>
<input id="cemail" type="email" name="email" required>
</p>
<p>
<label for="curl">URL (optional)</label>
<input id="curl" type="url" name="url">
</p>
<p>
<label for="ccomment">Your comment (required)</label>
<textarea id="ccomment" name="comment" required></textarea>
</p>
<p>
<input class="submit" type="submit" value="Submit">
</p>
</fieldset>
</form>
</div>
</div>
<!--居中对其-->
</div>
<!--Row的边界-->
</div>
<!--容器的边界--> 
</div>
<hr>
<footer>
 <p style="text-align:center;">版权所有，翻录必究&copy; 坤坤大神好基友学习网 2017</p>
 </footer>
  </body>
</html>
